{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}

    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
    <link href="{% static 'extrato/css/view_extrato.css' %}" rel="stylesheet">

    {% block 'title' %}Extrato{% endblock %}

{% endblock %}

{% block 'body' %}
    <br>
    <br>
    <div class="container">
        <form action="{% url 'view_extrato' %}" method="GET">
            <div class="row">
                <div class="col-md">
                    <label for="conta">Conta</label>
                    <select name="conta" id="conta" class="form-select">
                        <option value="" disabled selected>Selecione...</option>
                        {% for conta in contas %}
                            <option value="{{conta.id}}">{{conta}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md">
                    <label for="categoria">Categoria</label>
                    <select name="categoria" id="categoria" class="form-select">
                        <option value="" disabled selected>Selecione...</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md" class="col-sm">
                    <label for="periodo">Período</label>
                    <select name="periodo" id="periodo" class="form-select">
                        <option value="" disabled selected>Selecione...</option>
                        <option value="7">Últimos 7 dias</option>
                        <option value="15">Últimos 15 dias</option>
                        <option value="30">Últimos 30 dias</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 ">
                    <input style="width: 100%; margin-top: 3px;" type="submit" class="btn btn-primary" value="Filtrar">
                </div>
                <div class="col-md-2">
                    <input style="width: 100%; margin-top: 2px;" type="button" class="btn btn-secondary" id="meuBotao" value="Limpar filtro">
                </div>
                <div class="col-md-2">
                    <a href="{% url 'exportar_pdf'%}" style="width: 100%; margin-top: 2px;" class="btn btn-secondary" target="_blank">Exportar extrato</a>
                </div>
            </div>
        </form>
        <br>
        <br>
        <div class="card">
            <table class="table" style=" max-width: 100;">
                <thead>
                    <tr>
                        <th style="color: white;">Conta</th>
                        <th style="color: white;">Categoria</th>
                        <th style="color: white;">Data</th>
                        <th style="color: white;">Tipo</th>
                        <th style="color: white;">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valor in valores %}
                        <tr class="linha">
                            <td style="color: white;" width="20%">{{valor.conta}}</td>
                            <td style="color: white;">{{valor.categoria}}</td>
                            <td style="color: white;">{{valor.data}}</td>
                            <td class="text-white">R$ {{valor.valor}}</td>
                            <td >
                                {% if valor.tipo == 'S' %}
                                    <img src="{% static 'perfil/img/saidas.png' %}">
                                {% else %}
                                    <img src="{% static 'perfil/img/entradas.png' %}">
                                {% endif %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById('meuBotao').addEventListener('click', function() {
            window.location.href = "{% url 'zerar_filtro' %}";
        });
    </script>
    
{% endblock %}
